p,
marquee,
ul
{
    color:darkgoldenrod;
    font-size: x-large;
    font-family:fantasy;
    font-weight:lighter;
    font-style:italic;
}
body{
    background-color:whitesmoke;
}
form{
    padding:"3px";
    font-family: fantasy;
    font-size: x-large;
    font-style: italic;
    font-weight:lighter;
    color:darkgoldenrod;

}
a:link{
    color:blueviolet;
  
}
a:hover{
    color:blue;
    
    
}
img{
    border: black;
    border-style: double;
    border-width:15px;
}
h1{
    color:darkgoldenrod;
    font-size: x-large;
    font-family:fantasy;
    font-weight:lighter;
    font-style:italic;
}
.nav{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    list-style: none ;
    margin: 0;
    background-color: rgb(0, 0, 0);
}
.nav a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
  }
  .nav a:hover {
    background: #1565C0;
  }
  
  @media all and (max-width: 800px) {
    .nav {
      justify-content: space-around;
    }
  }
  
  @media all and (max-width: 600px) {
    .nav {
      flex-flow: column wrap;
      padding: 0;
    }
    .nav a { 
      text-align: center; 
      padding: 10px;
      border-top: 1px solid rgba(255, 255, 255,0.3); 
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
    }
    .nav li:last-of-type a {
      border-bottom: none;
    }
  }
    
